{% extends "user/main_loggedin.html" %}
{% comment %} {% extends "user/main_loggedin.html" %} {% endcomment %}

{% block title %}
Wallpaper
{% endblock title %}


{% block main_content %}

<!-- Home page -->
<div class="container">
    <section>
        <!-- Row Title-->
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Featured</h2>
            </div>
        </div>
        <!-- Row Title-->
        <!-- Grid row -->
        <div class="gallery" id="gallery">
            {% for item in featured %}
            <!-- Grid column -->
            <div class="mb-4 pics animation">
                <a href="{% url 'wallpaper' item.category item.slug %}">
                    <img class="img-fluid" src="{{ item.image.url }}" alt="{{ item.title }}">
                </a>
            </div>
            {% endfor %}
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </section>

    <section>
        <!-- Row Title-->
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Latest</h2>
            </div>
        </div>
        <!-- Row Title-->
        <!-- Grid row -->
        <div class="gallery" id="gallery">
            {% for item in latest %}
            <!-- Grid column -->
            <div class="mb-4 pics animation">
                <a href="{% url 'wallpaper' item.category item.slug %}">
                    <img class="img-fluid" src="{{ item.image.url }}" alt="{{ item.title }}">
                </a>
            </div>
            {% endfor %}
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </section>

    <section>
        <!-- Row Title-->
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Popular</h2>
            </div>
        </div>
        <!-- Row Title-->
        <!-- Grid row -->
        <div class="gallery" id="gallery">
            {% for item in popular %}
            <!-- Grid column -->
            <div class="mb-4 pics animation">
                <a href="{% url 'wallpaper' item.category item.slug %}">
                    <img class="img-fluid" src="{{ item.image.url }}" alt="{{ item.title }}">
                </a>
            </div>
            {% endfor %}
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </section>

    <!-- <section> -->
    <!-- Row Title-->
    <!-- <div class="row">
            <div class="col-md-12 text-center">
                <h2>Popular Categories</h2>
            </div>
        </div> -->
    <!-- Row Title-->
    <!-- Grid row -->
    <!-- <div class="gallery" id="gallery">
            {% for item in popular_cat %} -->
    <!-- Grid column -->
    <!-- <div class="mb-3 pics animation">
                <img class="img-fluid" src="{{ item.image.url }}" alt="{{ item.title }}">
            </div>
            {% endfor %} -->
    <!-- Grid column -->

    <!-- </div> -->
    <!-- Grid row -->
    <!-- </section> -->

</div>
{% endblock main_content %}